<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ '/img/favicon.ico' | url }}">
    <link rel="stylesheet" href="{% webpackAsset 'main.css' %}">
    <title>{{ title }}</title>
  </head>
  <body class="flex flex-col items-center">
      <div class="bg-white flex flex-col space-x-4 space-y-4 items-center max-w-3xl">
        <h1 class="text-6xl text-blue-400 font-semibold font-serif"><a href="{{ '/' | url }}">JackVM-rs</a></h1>
        <h2 class="text-lg text-blue-400 font-thin">A demonstration site showcasing the <a href="#">jackvm-rs project</a>.</h2>

        {{ content | safe }}
      </div>
  </body>
</html>
